#setup_env.sh contains Twitter API credentials. Don't commit!
setup_env.sh

init.sh
*.jpg  # The original medal is a .jpEg
forbidden_words.py

.idea

# Byte-compiled / optimized / DLL files
__pycache__/
# C extensions
*.so

